.dashMain {
  display: flex;
  flex-flow: column nowrap;
}

.estBox {
  background-color: var(--background-white);
  padding: 1em;
  align-self: flex-end;
  border-radius: 0 0 0 0.5em;
}

.error {
  color: red;
}
