:root {   
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
      'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
      'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --black: #141414;
  --dark-blue: #103494;
  --light-blue: #A3B9F5;
  --orange: #F94C08;
  --light-orange: #FBB99D;
  --background-white: #F5F5F5;
  --red: #FB4B4B;
  --light-red: #FD8787;
  --green: #4CB852;
  --light-green: #8AD08E;  
  --gray: #A2A2A2;
  --light-gray: #CCCCCC;  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;  
}

*::-webkit-scrollbar {
  width: 17px;   
}

*::-webkit-scrollbar-track {
  background: var(--dark-blue);  
}

*::-webkit-scrollbar-thumb {
  background-color: var(--background-white);
  border-radius: 100vw;
  border: 3px solid var(--dark-blue);  
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--light-orange);
}

html{
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* Global DOM Styles */
main {
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  grid-template-columns: 1fr;
  min-height: 100vh;
  background-color: var(--dark-blue);  
}

.pageHeader{
  grid-row: 1;
  grid-column: span 2;
  background-color: var(--background-white);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;  
  align-items: center;  
}

h1, h4, h5{
  color: var(--dark-blue);
  text-align: center;
}

h2, h3{
  color: var(--background-white);
}

p{
  color: var(--background-white);
}

/* !! Global Class Styles */

/* Page Header Styles */
.backBox {
  justify-self: flex-start;
  margin-left: 2em;
}

.avatarBox {
  display: flex;  
  flex-flow: column nowrap;
  gap: .25em;  
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
  margin-right: 2em;
}

.avatarBox p{
  color: var(--dark-blue);
}

.avatar {
  display: flex;
  width: 35px;
  height: 35px;    
  justify-content: center;
  align-items: center;
}

.avatar img {
  max-width: 100%;
  height: auto;  
}

/* Global Card Styles */
.inputForm{
  display: grid;
  gap: 1em;
  margin: 1vw;
}

.card{
  display: grid;
  background-color: var(--background-white);
  border-radius: 1em;
  padding: .75em;  
}

.card header{
  background-color: var(--dark-blue);
  width: 100%;
  border-radius: .5em .5em 0 0;
  padding: .25em;
  text-align: center;
}

/* .card {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;  
  margin: 1em;
  padding: .75em;  
  border-radius: 1em;
  min-width: 10em;
  background-color: var(--background-white);  
}

.cardHeader{
  background-color: var(--dark-blue);
  width: 100%;
  border-radius: .5em .5em 0 0;
  padding: .25em;
  text-align: center;
}

.cardBox{
  display: flex; 
  flex-wrap: wrap; 
  gap: .5em;
  padding: 1em;  
}

.cardBox h4{
  width: 100%;
  text-align: left;  
}

.cardInnerBox{
  display: flex; 
  flex-wrap: wrap; 
  gap: .5em;  
}

.cardInput{
  display: flex;
  gap: .75em;
  color: var(--black);  
  text-align: right;    
}

.cardInput input{  
  line-height: 2em;  
  font-size: 11px;
  border-radius: .25em;
  background-color: none;
  border: none;
  outline: 1px solid var(--black);
  padding: 0 .25em;  
  
}

.cardInput input[type="checkbox"]{
  accent-color: var(--dark-blue);
  outline: none
}

.cardInput input[type="text"]:focus, .cardInput input[type="password"]:focus{
  outline: 1px solid var(--orange);
}

.cardInput select{
  border: none;
  outline: 1px solid var(--black);
  border-radius: .25em;      
  height: 2em;
  font-size: 11px;  
  max-width: 50vw;
}

.cardInput label{
  font-size: 11px; 
} */

.start{
  align-items: flex-start;
  justify-content: flex-start;
}

.center{
  align-items: center;
  justify-content: center;
}

.end{
  align-items: flex-end;
  justify-content: flex-end;  
}

.col{
  flex-flow: column;
}

.col3{
  flex-flow: column;
}

.row{
  flex-flow: row;
}

/* Global Button Classes */

.iconPrim{  
  background-color: none;
  color: var(--dark-blue);  
  transition: all .3s ease;
  font-size: 1.5em;
}

.iconPrim:hover{  
  background-color: none;
  color: var(--light-blue);  
}

.button {
  cursor: pointer;
  border: none;
  border-radius: .5em;
  padding: 1em;  
  text-decoration: none;
}

.prim{  
  background-color: var(--dark-blue);
  color: var(--background-white);
  transition: all .3s ease;
}

.prim:hover{
  background-color: var(--light-blue);
}

.sec{
  background-color: var(--light-blue);
  color: var(--background-white);
  transition: all .3s ease;
}

.sec:hover{
  background-color: var(--dark-blue);
}

.accent{  
  background-color: var(--orange);
  color: var(--background-white);
  transition: all .3s ease;
}

.accent:hover{
  background-color: var(--light-orange);
}

.success{  
  background-color: var(--green);
  color: var(--background-white);
  transition: all .3s ease;
}

.success:hover{
  background-color: var(--light-green);
}

.reject{  
  background-color: var(--red);
  color: var(--background-white);
  transition: all .3s ease;
}

.reject:hover{
  background-color: var(--light-red);
}


.nuetral{  
  background-color: var(--gray);
  color: var(--background-white);
  transition: all .3s ease;
}

.nuetral:hover{
  background-color: var(--light-gray);
}

/* Global Dialog Styles */

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: .75em;
  background-color: var(--background-white);
  color: var(--black);
  padding: 1em 3em 3em 3em;
  border-radius: 10px;
}

.dialog-content ul {
  display: flex;
  gap: .75em;
  list-style-type: none;
}

.dialog-title {
  text-align: center;
}

.dialog-buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

/* Global Card Styles */

.backButton {
  color: var(--dark-blue);
  align-self: flex-start;
  font-size: 1.5em;  
}

.image {
  width: 50vw;
  max-width: 280px;
  min-width: 200px;
  height: auto;
}

/* Global Utility Styles */

.black{
  color: var(--black);
}

.white{
  color: var(--background-white);
}

.gap-1{
  gap: 1em;
}

/* END */

@media screen and (min-width: 350px) {
  .cardInput label, .cardInput input, .cardInput select{
    font-size: 3.15vw;
  }
}


@media screen and (min-width: 476px) {
  .pageHeaderLeft {
    font-size: 1.25em;      
  }

  .pageHeaderRight {
    font-size: .75em;
  }

  .cardInput label, .cardInput input, .cardInput select{
    font-size: 15px;
  }
}

@media screen and (min-width: 1000px) {
  main{
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px 1fr;    
  }

  .inputForm{
    margin-right: .5em;
  }
}