.loginMain{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;    
}

.loginCard{
    background-color: var(--background-white);
    border-radius: 1em;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 1em;
    margin: .5em;
}

.loginInputs{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    padding: 1em;
    gap: .5em;
}

.loginInputs > div{
    display: flex;
    align-items: center;
    gap: .5em;
}

.loginInputs input{
    border: none;
    outline: 1px solid var(--drak-grey);
    line-height: 1.5em;
    border-radius: .25em;    
    padding-left: .25em;
}

.loginInputs input:focus{    
    outline: 1px solid var(--blue);    
}
