/* Navigation Styles */
.sidebar {
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--background-white);
  border-radius: 0 1em 1em 0;
  padding: 1em 0;
  align-self: flex-start;
}

.sidebar button {
  background: none;
  font-size: 1em;
  margin: 0 1em;
  padding: 1em;
  border: none;
  cursor: pointer;
  border-radius: 0.75em;
  transition: background-color 0.5s ease;
  color: var(--black);
}

.sidebar button:hover {
  background: var(--light-orange);
}

.sidebar button.activeCard {
  background: var(--background-disabled);
}

.sidebar .bldg {
  text-align: left;
  padding-left: 23%;
}

.tabContainer {
  margin-top: 1vw;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-inline: 1em;
  gap: 1em;
}

.tabContainer button {
  aspect-ratio: 1 / 0.95;
  font-size: 1.5em;
  border: none;
  color: var(--black);
  padding: 0 0.5em;
  border-radius: 0.5em 0.5em 0 0;
  transition: all ease 0.3s;
  min-width: 48px;
}

.saveTab {
  background-color: var(--light-green);
}

.saveTab:hover {
  background-color: var(--green);
}

.deleteTab {
  background-color: var(--light-red);
}

.deleteTab:hover {
  background-color: var(--red);
}

.noteTab {
  background-color: var(--light-blue);
  position: relative;
}

.noteTab:hover {
  background-color: var(--blue);
}

.noteQty {
  font-size: 0.5em;
  line-height: 16px;
  text-align: center;
  position: absolute;
  top: -6px;
  right: -5px;
  min-width: 22px;
  height: 22px;
  padding: 2px;
  border-radius: 50%;
  background-color: var(--red);
  color: var(--background-white);
  font-weight: 600;
}

.sketchBox {
  align-items: center;
  grid-column: 1;
  border-radius: 1em;
}

.sketch {
  display: flex;
  justify-content: center;
}

.carouselNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--background-white);
  padding: 1em;
  position: fixed;
  bottom: 0;
  left: 0;
}

.carouselContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carouselItem {
  color: var(--dark-blue);
  font-size: 1em;
  font-weight: 600;
  padding: 0.5em;
  white-space: nowrap;
  margin-bottom: 0.5em;
}

.dotContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--light-orange);
  margin: 0 4px;
  transition: all 0.3s ease;
  border: none;
  padding: 0;
  cursor: pointer;
}

.activeDot {
  width: 16px;
  height: 16px;
  background-color: var(--orange);
}

.navArrow {
  color: var(--dark-blue);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5em;
}

/* END */

.buildingContainer {
  display: flex;
  flex-flow: column nowrap;
  padding: 0.5em;
  gap: 0.25em;
  background-color: var(--dark-blue);
  border-radius: 10px;
  color: var(--background-white);
  width: 100%;
}

.buildingContainer input {
  padding-left: 0.25em;
  line-height: 1.75em;
  border-radius: 5px;
  border: 1px solid var(--light-blue);
}

.buildingContainer select {
  padding-left: 0.25em;
  line-height: 1.75em;
  border-radius: 5px;
  border: 1px solid var(--light-blue);
  min-height: 28px;
}

.buildingContainer input:focus,
.buildingContainer select:focus {
  outline: 1px solid var(--blue);
}

.buildingTitleContainer {
  display: flex;
  justify-content: space-between;
  color: var(--background-white);
}

.whiteGroup {
  accent-color: var(--dark-blue);
  background-color: rgba(245, 245, 245, 0.4);
}

.whiteGroup:has(input:disabled) {
  background-color: rgba(245, 245, 245, 0.2);
}

.whiteGroup input,
.whiteGroup input:focus {
  /* accent-color: var(--blue); */
  outline: none;
  align-self: center;
}

.buildingContainer input:disabled,
.buildingContainer select:disabled {
  color: var(--background-white);
  border: 1px solid var(--background-white);
  background-color: var(--blue-disabled);
  outline: none;
}

.buttonContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

@media screen and (min-width: 600px) {
  .pageTitle {
    font-size: 2em;
  }
}

@media screen and (min-width: 1000px) {
  .sketchBox {
    border-radius: 0 1em 1em 0;
    margin: 1em 0;
  }
}
